:root {
    --color-primary: #1c1c1c;
    --color-primary-light: #333333;
    --color-secondary: #fffcf4;
    --color-accent: #1b96fb;
    --color-bg: #222222;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-secondary);
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-size: 2vw;
    font-weight: 700;
}

p {
    font-size: 2vw;
    font-weight: 400;
}