.main__container {
    position: absolute;
    height: auto;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0%);
    max-width: 1200px;
    width: 90%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); 
    gap: 20px;
    justify-content: center;
  }

.categories__list li {
    aspect-ratio: 16 / 9;          
    background: var(--color-primary);             
    border-radius: 40px;
    padding: 20px;
    color: var(--color-secondary);         
    transition: transform 0.1s ease-out;
    line-height: 1.5;
    width: 100%;
}

.categories__list li:hover {
    transform: scale(1.05);
}